.product {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 100px 5% 100px;
  min-height: 100vh;
  background-color: var(--lightgrey);
}

.product img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  background: transparent;
  z-index: 10;
  backdrop-filter: blur(24px);
  padding: 20px 5%;
}

.header ul {
  list-style: none;
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header ul li {
  cursor: pointer;
}

.productSummary h2 {
  font-size: 14px;
  color: var(--darkgrey);
  font-weight: 400;
  margin: 20px 0;
}

.productSummary h3 {
  margin: 20px 0;
}

.productRating {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  color: var(--darkgrey);
  font-size: 16px;
}

.footer {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--white);
  position: fixed;
  bottom: 0px;
  max-height: 100px;
  max-width: 800px;
}

.price h3 {
  font-size: 12px;
  color: var(--darkgrey);
  font-weight: 400;
}

.price p {
  font-size: 24px;
  color: var(--lightgreen);
  font-weight: 600;
  margin-top: 5px;
}

.buy {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--white);
}

.buy span {
  background-color: var(--lightgreen);
  font-size: inherit;
  border-radius: 5px 0 0 5px;
  padding: 10px 20px;
}

.buy button {
  font-family: inherit;
  font-size: inherit;
  background-color: rgb(15, 15, 40);
  color: var(--white);
  font-weight: 400;
  border: 0;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
}
